*/Release/*
*.vcxproj*
*.sln
*.vmps.xml
*.vsarduino.h
*.db
*.ipch
*.suo


*.cpp.d
*.cpp.o
*.eep

*.c.o
*.c.d
*.h.d
*.h.o
*.with_bootloader.hex
*.log
*.h.txt
*.cpp.txt
*.pyc

*.buildinfo
*.hex
*.elf
*.lst